.places {
  padding-bottom: 64px;
  align-items: center;
  width: 320px;
}

.place {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place__title {
  width: 288px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 109%;
}

.place__website {
  width: 288px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.place__artist {
  margin: 0;
  color: #aaa;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.place__url-heading {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 122%;
  text-decoration: none;
}

.place__image {
  width: 320px;
  height: 320px;
}
.place__paragraphs {
  width: 288px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.place__paragraph {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}

@media screen and (min-width: 768px) {
  .places {
    padding-bottom: 92px;
    width: 720px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .place {
    display: grid;
    column-gap: 10px;
    justify-content: space-between;
    grid-template-columns: 355px 352px;
    grid-template-areas:
      "title website"
      "image paragraphs"
      "button paragraphs";

    border-style: dashed;
  }

  .place__title {
    width: 340px;
    margin: 0;
    font-size: 42px;
    grid-area: title;
  }

  .place__website {
    display: flex;
    flex-direction: column;
    width: 352px;
    height: 67px;
    grid-area: website;
    margin-bottom: 24px;
  }

  .place__image {
    margin-bottom: 48px;
    margin-top: -25px;
    width: 340px;
    height: 340px;
    grid-area: image;
  }
  .place__paragraphs {
    width: 352px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    grid-area: paragraphs;
  }
}
.button {
  width: 288px;
  height: 48px;
  margin-top: 0;
  margin-bottom: 16px;
  border-radius: 4px;
  background: #0278fe;
  text-decoration: none;
  z-index: 1;
  display: flex;
}

.button__text {
  margin: auto;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .button {
    grid-area: button;
    width: 315px;
    height: 22px;
    padding: 13px 20px;
  }
  .button__text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    transition: 0.5s;
  }
  .button:hover {
    background: #0063d2;
  }
}

.button_size {
  width: 198px;
  height: 48px;
  margin-bottom: 32px;
}

.button__text_size {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .button_size {
    width: 158px;
    height: 22px;
    padding: 13px 20px;
  }
}

@media screen and (min-width: 1280px) {
}
